@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

header {
    background-color: #52489c;
    color: #ebebeb;
    text-align: center;
    padding: 10px;
    margin: 0;
}

h1 {
    font-size: 70px;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    color: #52489c;
    font-size: 30px;
}

nav {
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ebebeb;
    font-size: 20px;
    text-align: center;
}

.hide {
    display: none;
}

body {
    background-color: #ebebeb;
}

.viewer {
    position: fixed;
    background-color: 0,0,0,0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.viewer img {
    max-height: 100%;
}

main {
    background-color: #ebebeb;
    text-align: center;
    margin: 0;
}

.gallery {
    display: grid;
}

figure {
    border: solid white 15px;
    box-shadow: 10px 10px 5px;
}

footer {
    background-color: #52489c;
}

@media screen and (min-width: 700px) {
    nav a {
        font-size: 20px;
        color:#ebebeb;
        padding: 10px;
        display: block;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        font-size: 0px;
        color: #52489c;
        padding: 0px;
    }

    nav {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        gap: 10px; 
    }

    nav a {
        font-size: 20px;
        color: #ebebeb;
        padding: 10px;
        display: block;
    }
}